<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is sample application without database.
  Nothing more to say.
</p>

<p>
  Based on the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>.
</p>
